* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.invisible {
  visibility: hidden !important;
}

.hidden {
  display: none !important;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  background-image: url('../img/background.jpg');
  background-repeat: repeat;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}

#page-header,
#page-content,
#page-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Page Header */
#game-title {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

#play-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  padding: 0 25%;
}

#game-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#player-score {
  width: 50%;
  text-align: right;
  padding-right: 20px;
}

#stars,
#player-moves {
  display: inline-block;
}

#game-controls {
  width: 50%;
  text-align: left;
  padding-left: 20px;
  font-size: 1.5em;
  cursor: default;
}

#game-controls span {
  margin-left: 15px;
}

#reset-button {
  cursor: pointer;
}

#pause-button {
  cursor: pointer;
}

#play-button {
  cursor: pointer;
}

#stop-button { /* */ }

/* Page Content */
#page-content {
  margin: 50px auto;
}

#main-board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.board-tile {
  width: 22.5555%;
  border-radius: 10px;
  background-color: honeydew;
  margin: 10px;
  padding: 50px 15px;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  cursor: default;
  font-size: 2em;
  transition: background-color .25s linear;
}

.board-tile.closed {
  background-color: #333;
  cursor: pointer;
}

.board-tile.closed span {
  visibility: hidden;
}

#victory-dialog {
  min-height: 500px;
  width: 100%;
  background-color: #000;
  color: #fff;
  z-index: 99999;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Page Footer */
#copyright-text {
  width: 100%;
  text-align: center;
}


@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .board-tile {
    width: 20.5555%;
    margin: 5px;
    padding: 30px 15px;
  }
}

@media screen and (max-width: 450px) {
  .board-tile {
    width: 20.5555%;
    margin: 5px;
    padding: 15px 10px;
  }
}
