* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.invisible {
  visibility: hidden !important;
}

.hidden {
  display: none !important;
}

.slidedown {
  animation-name: slidedown;
  animation-duration: 1.5s;
}

.slideup {
  animation-name: slideup;
  animation-duration: 1.5s;
}

.fadeout {
  animation-name: fadeout;
  animation-duration: 1.5s;
}

.fadein {
  animation-name: fadein;
  animation-duration: 1.5s;
}

.shake {
  animation-name: shake;
  animation-duration: 0.82s;
  animation-timing-function: cubic-bezier(.36,.07,.19,.97);
  animation-fill-mode: both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  background-color: #9f0000 !important;
}

.bounce {
  animation-name: bounce;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.36,.07,.19,.97);
  animation-fill-mode: both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  background-color: #00a415 !important;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  background-image: url('../img/background.jpg');
  background-repeat: repeat;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}

#page-header,
#page-content,
#page-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Page Header */
#game-title {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

#play-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  padding: 0 25%;
}

#game-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#player-score {
  width: 50%;
  text-align: right;
  padding-right: 20px;
}

#stars,
#player-moves {
  display: inline-block;
}

#game-controls {
  width: 50%;
  text-align: left;
  padding-left: 20px;
  font-size: 1.5em;
  cursor: default;
}

#game-controls span {
  margin-left: 15px;
}

#reset-button,
#pause-button,
#play-button,
#stop-button,
#start-game-button,
#restart-game-button {
  cursor: pointer;
}

#start-game-button,
#restart-game-button {
  font-size: 2em;
  margin: 20px;
}

/* Page Content */
#page-content {
  margin: 50px auto;
  transition: opacity 0.5s ease-in-out;
}

#main-board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.board-tile {
  width: 22.5555%;
  border-radius: 10px;
  background-color: #fff;
  margin: 10px;
  padding: 50px 15px;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  cursor: default;
  font-size: 2em;
  transition: background-color .25s linear;
}

.board-tile.closed {
  background-color: #333;
  cursor: pointer;
}

.board-tile.closed span {
  visibility: hidden;
}

#intro-text {
  text-align: justify;
  margin-bottom: 15px;
}

/* Page Footer */
#copyright-text {
  width: 100%;
  text-align: center;
}

#modal {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20vh;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}

#modal-content {
  max-width: 500px;
  text-align: center;
}

#intro-screen,
#victory-screen {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .board-tile {
    width: 20.5555%;
    margin: 5px;
    padding: 30px 15px;
  }

  #modal-content {
    padding: 0 10px;
  }
}

@media screen and (max-width: 450px) {
  .board-tile {
    width: 20.5555%;
    margin: 5px;
    padding: 15px 10px;
  }
}

@keyframes slidedown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    transform: translateY(150%);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(150%);
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}

@keyframes bounce {
  50% {
    transform: translateY(-5px);
  }
}
